@model List<GetPatientVM>
@{
    int count = 0;
}


<div class="app-body">
   @*  <div class="search-container d-lg-block d-none mx-3">
        <input type="text" class="form-control" id="searchId" placeholder="Search">
        <i class="ri-search-line"></i>
    </div> *@
    <!-- Row starts -->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <form method="get" asp-action="List">
                    <div class="col-sm-12 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-end flex-wrap gap-2">
                                    <div class="d-flex align-items-end gap-2">
                                        <div class="m-0">
                                            <label class="form-label" for="a1">Patient Name</label>
                                            <input type="text" class="form-control" id="a1" name="patientName"
                                                   value="@(Context.Request.Query["patientName"])" placeholder="Search By Patient's Name">
                                        </div>
                                        <div class="m-0">
                                            <button class="btn btn-primary" type="submit">Search</button>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a asp-action="Create" class="btn btn-primary">Add Patient</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                    <!-- Table starts -->
                    <div class="table-responsive">
                        <table id="basicExample" class="table truncate m-0 align-middle">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Patient Name</th>
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>Blood Group</th>
                                    <th>Disease</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach (GetPatientVM patientVM in Model)
                                {
                                    count++;
                                    string? modalId = $"delRow_{patientVM.Id}";

                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            <img src="~/assets/images/patient/@patientVM.Image" class="img-shadow img-2x rounded-5 me-1"
                                                 alt="Medical Admin Template">
                                            @patientVM.Name @patientVM.Surname
                                        </td>
                                        <td><span class="badge bg-info-subtle text-info">@patientVM.GenderName</span></td>
                                        <td>@patientVM.Age</td>
                                        <td>@patientVM.BloodName</td>
                                        <td>
                                            @patientVM.DiseaseName
                                        </td>
                                        <td>@patientVM.PhoneNumber</td>
                                        <td>@patientVM.Email</td>
                                        <td>
                                            <div class="d-inline-flex gap-1">
                                                <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#@modalId">
                                                    <i class="ri-delete-bin-line"></i>
                                                </button>
                                                <a asp-action="update" asp-route-id="@patientVM.Id" class="btn btn-outline-success btn-sm"
                                                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Doctor Details">
                                                    <i class="ri-edit-box-line"></i>
                                                </a>
                                                <a asp-action="Profile" asp-route-id="@patientVM.Id" class="btn btn-outline-info btn-sm"
                                                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View Profile">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Individual Delete Modal -->
                                    <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="delRowLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delRowLabel">Confirm</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete<br> <strong>@patientVM.Name @patientVM.Surname</strong>?
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="Delete" asp-route-id="@patientVM.Id" method="post">
                                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
                                                        <button type="submit" class="btn btn-danger">Yes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- Table ends -->
                    

                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

</div>