@model HomeVM

<section class="slider slider-2" id="slider-2">
    <div class="container-fluid pr-0 pl-0">
        <div class="slider-carousel owl-carousel carousel-navs" data-slide="1" data-slide-rs="1" data-autoplay="true" data-nav="true" data-dots="false" data-space="0" data-loop="true" data-speed="800" data-slider-id="#custom-carousel">
            <!--  Start .slide-->
            <div class="slide bg-overlay bg-overlay-dark-slider">
                <div class="bg-section"><img src="~/assets/images/sliders/1.jpg" alt="Background" /></div>
                <div class="container">
                    <div class="slide-content">
                        <div class="row">
                            <div class="col-12 col-lg-7">
                                <h1 class="slide-headline">true healthcare for your family</h1>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p class="slide-desc">The health and well-being of our patients and their health care team will always be our priority, so we follow the best practices. </p>
                                <div class="slide-list">
                                    <div class="icon">
                                        <i class=" flaticon-025-examination"></i>
                                        <p>exmination</p>
                                    </div>
                                    <div class="icon">
                                        <i class=" flaticon-019-prescription"></i>
                                        <p>prescription</p>
                                    </div>
                                    <div class="icon">
                                        <i class=" flaticon-043-cardiogram"></i>
                                        <p>cardiogram</p>
                                    </div>
                                    <div class="icon">
                                        <i class=" flaticon-046-blood-pressure"></i>
                                        <p>blood pressure</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  End .row-->
                    </div>
                    <!-- End .slide-content -->
                </div>
                <!-- End .container-->
            </div>
            <!-- End .slide-->
            <!--  Start .slide-->
            <div class="slide bg-overlay bg-overlay-dark-slider">
                <div class="bg-section"><img src="~/assets/images/sliders/2.jpg" alt="Background" /></div>
                <div class="container">
                    <div class="slide-content">
                        <div class="row">
                            <div class="col-12 col-lg-7">
                                <h1 class="slide-headline">provide aspects of medical care</h1>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p class="slide-desc">The health and well-being of our patients and their health care team will always be our priority, so we follow the best practices. </p>
                                <div class="slide-list">
                                    <div class="icon">
                                        <i class=" flaticon-025-examination"></i>
                                        <p>exmination</p>
                                    </div>
                                    <div class="icon">
                                        <i class=" flaticon-019-prescription"></i>
                                        <p>prescription</p>
                                    </div>
                                    <div class="icon">
                                        <i class=" flaticon-043-cardiogram"></i>
                                        <p>cardiogram</p>
                                    </div>
                                    <div class="icon">
                                        <i class=" flaticon-046-blood-pressure"></i>
                                        <p>blood pressure</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  End .row-->
                    </div>
                    <!-- End .slide-content -->
                </div>
                <!-- End .container-->
            </div>
            <!-- End .slide-->
        </div>
        <!-- End .slider-carousel-->
    </div>
    <!--  End .container-fluid-->
</section>
<!--
============================
FeaturesBar Section
============================
-->
<section class="features-bar" id="featuresBar-1">
    <div class="bg-section"> <img src="~/assets/images/background/pattern-2.jpg" alt="background" /></div>
    <div class="container">
        <div class="row g-0 features-holder">
            <div class="col-12 col-lg-3">
                <!-- Start .widget-reservation-->
                <div class="feature-panel feature-reservation">
                    <div class="feature-content">
                        <i class="flaticon-022-medical"></i>
                        <h5>emergency cases</h5>
                        <p>Please feel welcome to contact our staff with any general or medical enquiry call us</p><a href="tel:0106123214"><span class="fas fa-phone-alt"></span> 0106123214</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <!-- Start .widget-timetable-->
                <div class="feature-panel feature-timetable">
                    <div class="feature-content">
                        <i class="flaticon-028-book"></i>
                        <h5>doctors timetable</h5>
                        <p>Qualified doctors available six days a week, view our timetable to make an appointment.</p><a class="btn btn--transparent btn-line btn-line-before" href="#"> <span class="line"> <span> </span></span><span>view timetable</span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <!-- Start .widget-opening-hours-->
                <div class="feature-panel feature-opening-hours">
                    <div class="feature-content">
                        <i class="flaticon-014-uniform"></i>
                        <h5>opening hours </h5>
                        <ul class="list-unstyled">
                            <li> <span>monday-friday</span><span>8:00 - 7:00 pm</span></li>
                            <li> <span>saturday</span><span>9:00 - 8:00 pm</span></li>
                            <li> <span>sunday</span><span>10:00 - 9:00 pm</span></li>
                            <li> <span>emergency</span><span>24HR / 7DAYS</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <!-- Start .widget-location-->
                <div class="feature-panel feature-location">
                    <div class="feature-content">
                        <i class="flaticon-042-clinic"></i>
                        <h5>location, directions </h5>
                        <p>2307 Beverley Rd Brooklyn, New York 11226 United States.</p>
                        <div class="map-img">	<a asp-controller="Contact" asp-action="Index"></a><img src="~/assets/images/background/map.jpg" alt="map" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading heading-15">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">Caring For The Health And Well Being Of You And Your Family.</h2>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class="paragraph">We provide all aspects of medical practice for your whole family, including general check-ups or assisting you with specific injuries.</p>
                    <p class="heading-desc">We will work with you to develop individualised care plans, including management of chronic diseases. If we cannot assist, we can provide referrals or advice about the type of practitioner you require. We treat all enquiries sensitively and in the strictest</p>
                    <div class="actions-holder"><a class="btn btn--primary btn-line btn-line-after" asp-controller="Doctor" asp-action="Index"> <span>find a doctor</span><span class="line"> <span></span></span></a><a class="btn btn--white" asp-controller="AboutUs" asp-action="AboutUs">more about us</a></div>
                </div>
            </div>
        </div>
        <!-- End .heading-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
About #2 Section
============================
-->
<section class="about about-2" id="about-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="about-img"><img class="img-fluid" src="~/assets/images/about/5.jpg" alt="about Image" /><a class="popup-video btn-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4"> <i class="fas fa-play"></i><span>watch our presentation!</span></a></div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-1">
                <div class="heading heading-16">
                    <p class="heading-desc">We’re here to care for you and your entire family. Regular visits to the doctor will depend on your age and general health!</p>
                </div>
                <ul class="advantages-list">
                    <li><i class="fas fa-check"></i> Health assessments</li>
                    <li><i class="fas fa-check"></i> Home medicine review</li>
                    <li><i class="fas fa-check"></i> Fractures and dislocations</li>
                    <li><i class="fas fa-check"></i> Desensitisation injections</li>
                </ul>
            </div>
            <!-- End .col-lg-3-->
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Departments #2 Section
============================
-->
<section class="departments departments-2" id="departments-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="heading heading-12 heading-13 text-center">
                    <p class="heading-subtitle">the best medical and general practice care!</p>
                    <h2 class="heading-title">providing medical care for stickest in our community.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Clinics)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="department-panel" data-hover="">
                        <div class="department-panel-holder">
                            <div class="department-img">
                                <a href="page-departments.html"></a>
                                <img src="~/assets/images/departments/@item.Image" alt="department img" />
                            </div>
                            <div class="department-content">
                                <div class="department-title">
                                    <h4><a asp-controller="@item.Name" asp-action="Index">@item.Name <span>Clinic</span></a></h4>
                                </div>
                                <div class="department-desc">
                                    <p>Some neurologists receive subspecialty training focusing on a particular area of the fields, these training programs called fellowships, and one to two years.</p>
                                </div>
                                <ul class="department-list list-unstyled">
                                    @foreach (var service in item.ClinicServices)
                                    {
                                        <li><i class="fas fa-check"></i> <span>@service.Name</span></li>
                                    }
                                </ul>
                                <div class="department-more">
                                    <a class="btn btn--white btn-line btn-line-before btn-line-inversed" asp-controller="@item.Name" asp-action="Index">
                                        <span class="line"><span></span></span><span>read more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="departments-action">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <p>Today hospital is recognised as a world renowned institution, not only providing outstanding care and treatment, but improving the outcomes for all.</p>
                </div>
                <div class="col-12 col-lg-5 offset-lg-2">
                    <div class="doctor-action">
                        <a class="btn btn--secondary btn-line btn-line-after" asp-controller="AboutUs" asp-action="Appointments"> <span>make appointment</span><span class="line"> <span></span></span></a>
                        <div class="doctor-info">
                            <div class="doctor-img"> <img src="~/assets/images/testimonial/5.jpg" alt="image" /></div>
                            <div class="doctor-body">
                                <a href="tel:0106123214">01061245741</a>
                                <p>Call 24HR / 7Days</p>
                            </div><i class="fas fa-phone-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .departments-action-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Features #2 Section
============================
-->
<section class="features features-2 bg-overlay bg-overlay-theme3 bg-parallax" id="features-2">
    <div class="bg-section"> <img src="~/assets/images/background/1.jpg" alt="Background" /></div>
    <div class="container">
        <div class="heading heading-14 heading-light">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <p class="heading-subtitle">Sets The Standard For High Quality Care Since</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">1987</h2>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class="paragraph">Our doctors include highly qualified male and female practitioners who come from a range of backgrounds and bring a diversity of skills. Our administration and support staff all have exceptional people skills.</p>
                    <p class="heading-desc">Our administration and support staff all have exceptional people skills and trained to assist you with all medical enquiries.</p>
                    <div class="signature-block">
                        <a class="btn btn--primary btn--inversed btn-line btn-line-after" href="#"><span>our core values</span><span class="line"> <span></span></span></a>
                        <div class="signature-body">
                            <h6>john winston</h6>
                            <p>pediatrician</p><img class="signature-img" src="~/assets/images/signature/2.png" alt="signature" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .row-->
        </div>
        <!-- End .heading-->
        <div class="features-holder">
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel feature-panel-dark">
                        <div class="feature-icon"><i class="flaticon-007-stethoscope"></i></div>
                        <div class="feature-content">
                            <h4>Medical Advices &amp; Check Ups</h4>
                            <p>Consult our doctors any time.</p>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                    <!-- End .feature-panel-->
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel feature-panel-dark">
                        <div class="feature-icon"><i class="flaticon-026-education"></i></div>
                        <div class="feature-content">
                            <h4>Trusted Medical Treatment</h4>
                            <p>Free coverage adults with limited income.</p>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                    <!-- End .feature-panel-->
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel feature-panel-dark">
                        <div class="feature-icon"><i class="flaticon-036-aid"></i></div>
                        <div class="feature-content">
                            <h4>Emergency Help Available</h4>
                            <p>Contact our reception staff any time.</p>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                    <!-- End .feature-panel-->
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel feature-panel-dark">
                        <div class="feature-icon"><i class="flaticon-032-medicine"></i></div>
                        <div class="feature-content">
                            <h4>Medical Research</h4>
                            <p>Provide all medical aspects practice</p>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                    <!-- End .feature-panel-->
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel feature-panel-dark">
                        <div class="feature-icon"><i class="flaticon-046-blood-pressure"></i></div>
                        <div class="feature-content">
                            <h4>Only Qualified Doctors</h4>
                            <p>Qualified doctors available 24/7</p>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                    <!-- End .feature-panel-->
                </div>
            </div>
        </div>
        <!-- End .features-holder-->
        <div class="more-features more-features-2">
            <p>Delivering tomorrow’s health care for your family. <a href="#">view doctors' timetable </a></p>
        </div>
        <div class="features-card">
            <div class="card-panel reversed">
                <div class="panel-icon"><i class="flaticon-004-transplant-box"></i></div>
                <div class="panel-body">
                    <h4>Healthcare Programs</h4>
                    <p>We have put protocols to protect our patients to provide medically necessary care.</p><a class="btn btn-line btn-line-after" href="#"><span>explore programs</span><span class="line"> <span> </span></span></a>
                </div>
            </div>
            <div class="card-panel">
                <div class="panel-icon"> <i class="flaticon-042-clinic"></i></div>
                <div class="panel-body">
                    <h4>Locations & Directions</h4>
                    <p>Feel welcome to contact our friendly reception staff, our doctors will receive your urgent calls.</p><a class="btn btn-line btn-line-before" href="#"><span class="line"> <span> </span></span><span>get directions</span></a>
                </div>
            </div>
        </div>
        <!-- End .features-card-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Testimonials #02 Section
============================
-->
<section class="testimonial testimonial-1 testimonial-2" id="testimonial-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="clients-img"> <img src="~/assets/images/testimonial/image.png" alt="image" /></div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1">
                <h6 class="section-head">hear the inspiring stories of our patients</h6>
                <div class="carousel owl-carousel carousel-dots" data-slide="1" data-slide-rs="1" data-autoplay="true" data-nav="false" data-dots="true" data-space="0" data-loop="true" data-speed="800">
                    <div class="testimonial-panel testimonial-panel-2">
                        <div class="testimonial-body">
                            <div class="testimonial-content">
                                <div class="testimonial-icon"></div>
                                <p>Their doctors include highly qualified practitioners who come from a range of backgrounds &amp; bring with them a diversity of skills and special interests. They also registered nurses available to triage any urgent matters, and the administration and staff all have exceptional skills!!</p>
                                <div class="testimonial-thumb">
                                    <div class="thumb-img"> <img src="~/assets/images/testimonial/1.jpg" alt="Testimonial Author" /><i class="icon-Quote-Icon"></i></div>
                                    <div class="thumb-body">
                                        <h6>sami wade</h6>
                                        <p>promina</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-panel testimonial-panel-2">
                        <div class="testimonial-body">
                            <div class="testimonial-content">
                                <div class="testimonial-icon"></div>
                                <p>Their doctors include highly qualified practitioners who come from a range of backgrounds &amp; bring with them a diversity of skills and special interests. They also registered nurses available to triage any urgent matters, and the administration and staff all have exceptional skills!!</p>
                                <div class="testimonial-thumb">
                                    <div class="thumb-img"> <img src="~/assets/images/testimonial/2.jpg" alt="Testimonial Author" /><i class="icon-Quote-Icon"></i></div>
                                    <div class="thumb-body">
                                        <h6>john peter</h6>
                                        <p>optima inc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-panel testimonial-panel-2">
                        <div class="testimonial-body">
                            <div class="testimonial-content">
                                <div class="testimonial-icon"></div>
                                <p>Their doctors include highly qualified practitioners who come from a range of backgrounds &amp; bring with them a diversity of skills and special interests. They also registered nurses available to triage any urgent matters, and the administration and staff all have exceptional skills!!</p>
                                <div class="testimonial-thumb">
                                    <div class="thumb-img"> <img src="~/assets/images/testimonial/3.jpg" alt="Testimonial Author" /><i class="icon-Quote-Icon"></i></div>
                                    <div class="thumb-body">
                                        <h6>sony blake</h6>
                                        <p>koira ind</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Team Carousel #1 Section
============================
-->
<section class="team team-modern team-carousel" id="teamCarousel-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="heading heading-5">
                    <h2 class="heading-title">meet our doctors</h2>
                    <p class="heading-desc">Our administration and support staff  have exceptional skills and trained to assist you with all enquiries.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="carousel owl-carousel carousel-navs" data-slide="3" data-slide-rs="2" data-autoplay="true" data-nav="true" data-dots="false" data-space="30" data-loop="true" data-speed="3000">
                   @foreach (var item in Model.Doctors)
                    {
                        <div>
                            <div class="team-member" data-hover="">
                                <div class="team-member-holder">
                                    <div class="team-img"><a class="link" asp-controller="Doctor" asp-action="DoctorDetail" asp-route-id="@item.Id"></a><img src="~/assets/images/team/grid/@item.Image" alt="team member" /></div>
                                    <!-- End .team-img-->
                                    <div class="team-content-holder">
                                        <div class="team-content">
                                            <div class="team-title">
                                                <h4><a href="doctors-single-modern.html">@item.Name @item.Surname</a></h4>
                                            </div>
                                            <div class="team-cat"><a href="#">@item.Specialist.Name</a></div>
                                            <div class="team-desc">
                                                <p>@item.MainDescription</p>
                                            </div>
                                            <div class="team-social"> <a href="javascript:void(0)"><i class="fab fa-facebook-f"> </i></a><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a><a href="javascript:void(0)"><i class="fas fa-envelope"></i></a><a href="javascript:void(0)"><i class="fas fa-phone-alt"></i></a></div>
                                        </div>
                                        <!-- End .team-content-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-12">
                <div class="action-bar">
                    <p class="note"><span><i class="fas fa-calendar-day"></i> on monday, </span> Doctors will be available from 8 am : 12 am , kindly call to confirm your Appointment </p><a class="btn btn--primary btn-line btn-line-after" asp-controller="AboutUs" asp-action="Appointments"><span>make appointment</span><span class="line"><span></span></span></a>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</section>
<!--
============================
Cta #3 Section
============================
-->
<section class="cta cta-3" id="cta-3">
    <div class="container">
        <div class="heading heading-6">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <p class="heading-subtitle">Caring For The Health Of You And Your Family.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">We Provide All Aspects Of Medical Practice For Your Whole Family!</h2>
                </div>
                <!--End .col-lg-5-->
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="prief-set">
                        <p>We pride ourselves on providing the best transport and shipping services available allover the world. Our skilled personnal and processing software, combined with decades of experience! Through integrated supply chain solutions, Equita drives sustainable competitive advantages to some of Australia's largest companies.</p>
                        <ul class="list-unstyled advantages-list">
                            <li><i class="fas fa-check"></i> Quality Control System</li>
                            <li><i class="fas fa-check"></i> Unrivalled workmanship</li>
                            <li><i class="fas fa-check"></i> 100% Satisfaction Guarantee</li>
                        </ul>
                    </div>
                </div>
                <!--End .col-lg-6-->
            </div>
        </div>
    </div>
    <div class="processes">
        <div class="row g-0">
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">01.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class="flaticon-023-medical-history"></i></div>
                        <div class="process-content">
                            <h5>fill our medical application</h5>
                            <p>Medisch offers free or low-cost health coverage for adults.</p><a class="btn-line btn-line-before btn-line-inversed" href="#"><span class="line"> <span> </span></span><span>doctors timetable</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">02.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class="flaticon-043-cardiogram"></i></div>
                        <div class="process-content">
                            <h5>Review Your Family History</h5>
                            <p>Health exams help find problems with early chances which helps.</p><a class="btn-line btn-line-before btn-line-inversed" href="javascript:void(0)"><span class="line"> <span> </span></span><span>Start A Check Up</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">03.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class="flaticon-027-medical-report"></i></div>
                        <div class="process-content">
                            <h5>Choose Between Our Programs </h5>
                            <p>We have protocols to protect our patients to provide necessary care.</p><a class="btn-line btn-line-before btn-line-inversed" href="javascript:void(0)"><span class="line"> <span> </span></span><span>explore programs</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">04.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class=".flaticon-021-medical-1"></i></div>
                        <div class="process-content">
                            <h5>Introduce To Qualified Doctors </h5>
                            <p>Our administration and support staff all have exceptional people skills</p><a class="btn-line btn-line-before btn-line-inversed" href="#"><span class="line"> <span> </span></span><span>meet our doctors</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End .processes-->
</section>
<!--
============================
Donations #3 Section
============================
-->
<section class="donations donations-3 bg-overlay bg-parallax bg-overlay-theme" id="donations-3">
    <div class="bg-section"><img src="~/assets/images/background/3.jpg" alt="background" /></div>
    <div class="container">
        <div class="contact-panel contact-panel-3">
            <div class="heading heading-light heading-11">
                <h2 class="heading-title">Helping Patients From Around the Globe!!</h2>
                <p class="heading-desc">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today</p>
                <div class="donations-action"><a class="btn btn--white" asp-controller="contact" asp-action="index">make a gift <i class="fas fa-heart"></i></a><a class="btn btn--transparent btn--inversed" asp-controller="aboutus" asp-action="FAQS">help &amp; faqs</a></div>
                <div class="img-hotspot">
                    <div class="img-hotspot-wrap">
                        <div class="img-hotspot-bg"> <img src="~/assets/images/background/world-map.png" alt="image" /></div>
                        <div class="img-hotspot-pointers">
                            <div class="img-hotspot-pointer" data-spot-x="15%" data-spot-y="29%">
                                <img src="~/assets/images/background/map-pointer.png" alt="pointer" />
                                <div class="info right" data-info-x="18px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="48%" data-spot-y="48%">
                                <img src="~/assets/images/background/map-pointer.png" alt="pointer" />
                                <div class="info left" data-info-x="-160px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="68%" data-spot-y="23%">
                                <img src="~/assets/images/background/map-pointer.png" alt="pointer" />
                                <div class="info left" data-info-x="-160px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-card">
                <div class="contact-body">
                    <h5 class="card-heading">book an appointment</h5>
                    <p class="card-desc">Please feel welcome to contact our staff with any general or medical enquiry. Our doctors will receive or return any urgent calls.</p>
                    <form class="contactForm" method="post" action="https://demo.zytheme.com/medisch/assets/php/contact.php">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="select-holder">
                                    <select class="form-control">
                                        <option value="default">bathology clinic</option>
                                        <option value="AL">neurology clinic </option>
                                        <option value="AK">cardiology clinic </option>
                                    </select>
                                    <div class="badge">department</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="select-holder">
                                    <select class="form-control">
                                        <option value="default">michael brian</option>
                                        <option value="AL">maria andoloro</option>
                                        <option value="AK">richard muldoone</option>
                                    </select>
                                    <div class="badge">choose doctor</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6">
                                <input class="form-control" type="text" name="contact-name" placeholder="Name" required="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <input class="form-control" type="text" name="contact-email" placeholder="Email" required="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <input class="form-control" type="text" name="contact-phone" placeholder="Phone" required="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="date-select">
                                    <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="select date" name="contact-date" value="" required="" /><i class="fas fa-calendar-day"></i>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="time-select">
                                    <input class="form-control" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" placeholder="select time" name="contact-date" value="" required="" /><i class="fas fa-clock"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn--secondary btn-line btn-line-before btn--block"><span class="line"> <span> </span></span><span>make appointment</span></button>
                            </div>
                            <div class="col-12">
                                <div class="contact-result"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End .contact-body -->
            </div>
        </div>
        <!-- End .contact-panel-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Blog #2 Section
============================
-->
<section class="blog blog-grid blog-grid-3" id="blog-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="heading heading-7 text-center">
                    <p class="heading-subtitle">health essentials</p>
                    <h2 class="heading-title">recent blogs</h2>
                </div>
            </div>
        </div>
        <!-- End .row-->
        <div class="carousel owl-carousel carousel-dots" data-slide="3" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="200">
            @foreach (var item in Model.Blogs)
            {
                <div>
                    <div class="blog-entry" data-hover="">
                        <div class="entry-img">
                            <div class="entry-date">
                                <div class="entry-content"><span class="day">@item.CreatedAt.Day</span><span class="month">@item.CreatedAt.ToString("MMMM")</span><span class="year">@item.CreatedAt.Year</span></div>
                            </div>
                            <!-- End .entry-date--><a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.Id"><img src="~/assets/images/blog/grid/@item.Image" alt="6 tips to protect your mental health when sick" /></a>
                        </div>
                        <!-- End .entry-img-->
                        <div class="entry-content">
                            <div class="entry-meta">
                                <div class="entry-category">
                                    @if (item.BlogCategories != null)
                                    {
                                        foreach (var category in item.BlogCategories)
                                        {
                                            <a href="javascript:void(0)">@category.Category.Name</a>
                                        }
                                    }
                                </div>
                                <div class="divider"></div>
                                <div class="entry-author">
                                    <p>@item.Author.Name</p>
                                </div>
                            </div>
                            <div class="entry-title">
                                <h4><a href="blog-single-sidebar.html">6 tips to protect your mental health when sick</a></h4>
                            </div>
                            <div class="entry-bio">
                                <p>It’s normal to feel anxiety, worry and grief any time you’re diagnosed with a condition that’s certainly true if you test positive for COVID-19, or...</p>
                            </div>
                            <div class="entry-more">
                                <a class="btn btn--white btn-line btn-line-before btn-line-inversed" asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.Id">
                                    <div class="line"> <span> </span></div><span>read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End .entry-content-->
                </div>
            }
            
        </div>
        <!-- End .carousel-->
    </div>
</section>